<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio page</title>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <link href="lib/normalize-css/normalize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="lib/material-design-lite/material.min.css">
    <link rel="stylesheet" href="css/styles.css">
  @RenderSection("styles", required: false)
</head>
<body class="@this.ViewBag.page">
  <div class="wrapper">
    <div class="ptf-layout mdl-layout mdl-js-layout">
      <header class="ptf-header mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="ptf-avatar__frame">
            <img src="images/avatar.jpg" alt="avatar">
          </div>
          <span class="mdl-layout-title">Апанасов Ахмед</span>
        </div>
        <div class="navigation__container">
          <nav class="navigation mdl-navigation">
            <a class="mdl-navigation__link resume" href="@Url.Action("Index", "resume")">Резюме</a>
            <a class="mdl-navigation__link examples" href="@Url.Action("Index", "examples")">Примеры работ</a>
          </nav>
        </div>
        <i class="material-icons scrollindicator scrollindicator--right">keyboard_arrow_right</i>
        <i class="material-icons scrollindicator scrollindicator--left">keyboard_arrow_left</i>
      </header>
      <main id="content" style="display: flex;">
          @RenderBody()
      </main>
      <footer class="footer mdl-mega-footer">
        <div class="mdl-mega-footer__top-section">

        </div>
        <div class="mdl-mega-footer__middle-section">

        </div>
        <div class="mdl-mega-footer__bottom-section">

        </div>
      </footer>
    </div>
  </div>
    <script type="text/javascript" src="lib/material-design-lite/material.js"></script>
    <script type="text/javascript" src="script/portfolio.js"></script>
</body>
</html>
